@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato";
  overflow-x: hidden;
  overflow-x: clip !important;
}
@media screen and (max-width: 1920px) {
  #react-select-5-input {
    font-size: larger !important;
  }
  .css-qbdosj-Input{
    font-size: 20px !important;
  }
}
::-webkit-scrollbar {
  height: 4px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  background-color: silver;
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
